git+https://github.com/jmikedupont2/gcc_py_introspector.git#egg=gcc_py_introspector
#git+https://github.com/h4ck3rm1k3/gcc_py_introspector.git#egg=gcc_py_introspector
#https://codeload.github.com/jmikedupont2/gcc_py_introspector/tar.gz/v0.0.1-alpha
ply

